extends layouts/layout

block vars
    -title = 'hotro'
    -bodyClass = 'hotro'
block navs
  -var active = 'Hổ trợ';
block container
    main#main
        .banner.banner-about
            .content
                .container
                    .row
                        .col-md-6.col-md-offset-6
                            h1 Không có đam mê, bạn không có năng lượng;không có năng lượng, bạn chẳng có gì.Chẳng có gì tuyệt vời trên thế giới được làm mà không có đam mê.
                                span
                            p Donald Trump
        .block-ecomerce
            p E commerce đơn giản &amp; hiệu quả hơn cho tất cả mọi người
                span
        .container
            .row
                .col-md-4
                    .menuCustom
                        #menu
                            nav
                                ul
                                    li.active
                                        a(href="about.html") Giới thiệu
                                    li
                                        a(href="myface-team.html") Đội ngũ phát triển
                                    li
                                        a(href="#") Hợp tác &amp; liên hệ                        
                .col-md-8.block-support
                    .block-about-content
                        h6 Once this threat gets into your PC it does so many changes to it but out of all its consequ, tion property of this infection is quiet dangerous and annoying one. In this redirection process
                        p default homepage setting of browser will be replaced with malicious link and whenever user open their new tab their search result will automatically get redirected to predefined link. These sites contain lots of malevolent stuffs; even a single click over it may increase the trouble for user and their system. Some more spiteful consequences associated with this threat are summed up below 
                        p It usually drains up all the resources of your browsers by hijacking it completely and amending the homepage and different core settings. You might have noticed such changes as they appear with added links on browsers. Among its abundant malevolence traits , limitting you from browsing certain websites and domains intentionally security websites are very famous. Since it tends to take charge of web browsers, it spies your online actions and gathers important information that are valuable to you. No doubt Yeabests.cc is vicious for your computer system and long it will inhibit in it more it will cause problems for your computer system. That’s why it is advised that you follow the procedures given below to get rid of Yeabests.cc as quick as possible.
                    .block-about-content.block-about2
                        h5 Tài liệu hướng dẫn sử dụng / 4 - Bán hàng / Tạo đơn hàng
                        p Để tạo đơn hàng cần phải lưu ý: Ta chỉ cần gõ tên hoặc mã sản phẩm, có thể gõ tối thiểu 2 ký tự đầu, hệ thống sẽ tự động liệt kê cho ta lựa chọn. Chọn sản phẩm bằng nhấp chuột hoặc nút lên xuống trên bàn phím.
                        p.text Bao gồm:
                        p.text 
                            b Hình thức:
                            | thanh toán bằng tiền mặt, chuyển khoản, thẻ.
                        p.text  
                            b Tiền hàng: 
                            | Hệ thống đã tính.
                        p.text  
                            b Giảm giá:
                            | tại đây ta có thể linh động giảm theo phần trăm giá trị món hàng hoặc giảm một số tiền cụ thể.
                        p.text  
                            b Tổng cộng: 
                            | Hệ thống đã tính.
                        p.text  
                            b Đã thanh toán: 
                            | số tiền khách hàng đã thanh toán cho món hàng.
                        p.text 
                            b Còn nợ: 
                            | số nợ còn lại.
                        .img-create
                            +img("","images/upload/imgcreate.jpg")
                        p.text 
                            b Sau đó ta có 4 lựa chọn:
                        p.text  
                            b Lưu tạm: 
                            | chỉ lưu bản nháp, không được xem là một đơn hàng.
                        p.text  
                            b Lưu:
                            | sau khi lưu, hệ thống tự động cập nhật thêm một đơn hàng.
                        p.text  
                            b Hủy: 
                            | hủy đơn hàng.
                    .paging-nav
                        .nav
                            a(href="#", title="").pre.active
                                span.fa.fa-angle-left
                                span.text Trở về
                            a(href="#", title="").next
                                span.text Kế tiếp
                                span.fa.fa-angle-right
                    .block-list.block-guide.block-content
                        .heading
                            h4 Vẫn chưa tìm ra nội dung giải đáp ?
                            p MyFace khuyến khích bạn liên hệ trực tiếp với chúng tôi
                        .list-thumb
                            .thumb
                                a(href="javascript:void()", title="").link-icon-support
                                    span.icon.icon15
                                h5 Gửi thư yêu cầu
                                p Hãy gửi cho chúng tôi những thắc mắc của bạn, hoặc chỉ đơn giản là phàn nàn về hệ thống. MyFace sẽ trả lời bạn trong thời gian nhanh nhất có thể.
                            .thumb
                                a(href="javascript:void()", title="").link-icon-support
                                    span.icon.icon16
                                h5 Chat trực tuyến
                                p Chat trực tuyến với nhân viên tư vấn của chúng tôi, để nhận được những sự giúp đỡ &amp; tư vấn đầy đủ nhất
                            .thumb
                                a(href="javascript:void()", title="").link-icon-support
                                    span.icon.icon17
                                h5 Gọi điện trực tiếp
                                p Gọi điện thoại nói chuyện trực tuyến với nhân viên tư vấn để được sự hướng dẫn nhanh nhất.