.site-content.banner.hidden
	.primary-section
		.primary-image
			img(src="images/banner.jpg" ,style="visibility:hidden").img-banner
			.pobanner.pobanner1 
				a(href="javascript:void();")
					img(src="images/pobanner1.png")
			.pobanner.pobanner2 
				a(href="javascript:void();")
					img(src="images/pobanner2.png")
			.pobanner.pobanner3
				a(href="javascript:void();")
					img(src="images/pobanner3.png")
			.pobanner.pobanner4 
				a(href="javascript:void();")
					img(src="images/pobanner4.png")
			.pobanner.pobanner5
				a(href="javascript:void();")
					img(src="images/pobanner5.png")
			.pobanner.pobanner6
				a(href="javascript:void();")
					img(src="images/pobanner6.png")
			.pobanner.pobanner7
				a(href="javascript:void();")
					img(src="images/pobanner7.png")
		
	.content
		.container
			.row
				.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
					h1 Bán hàng trên Facebook &amp; các mạng xã hội chưa bao giờ dễ dàng hơn thế
					.total-link
						+link("Dễ quản lý, dễ sử dụng", "check", "Dễ quản lý, dễ sử dụng" , "#").link
						+link("Kết nối Facebook &amp; đa nền tảng", "check", "Kết nối Facebook &amp; đa nền tảng" , "#").link
						+link("Kết nối giao nhận, thanh toán sẵn sàng", "check", "Kết nối giao nhận, thanh toán sẵn sàng" , "#").link
					+link("Dừng thử miễn phí 100%").btn.btn-red
					p Cam kết bảo mật 100% thông tin và khách hàng của bạn
	.wrapper
		.primary-call
			a(class="call-github", target="_blank", href="https://github.com/fuhton/fallings") 
.banner
	.content
		.container
			.row
				.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
					h1 Bán hàng trên Facebook &amp; các mạng xã hội chưa bao giờ dễ dàng hơn thế
					.total-link
						+link("Dễ quản lý, dễ sử dụng", "check", "Dễ quản lý, dễ sử dụng" , "#").link
						+link("Kết nối Facebook &amp; đa nền tảng", "check", "Kết nối Facebook &amp; đa nền tảng" , "#").link
						+link("Kết nối giao nhận, thanh toán sẵn sàng", "check", "Kết nối giao nhận, thanh toán sẵn sàng" , "#").link
					+link("Dừng thử miễn phí 100%").btn.btn-red
					p Cam kết bảo mật 100% thông tin và khách hàng của bạn
	.pobanner.pobanner1 
		a(href="javascript:void();")
			img(src="images/pobanner1.png")
	.pobanner.pobanner2 
		a(href="javascript:void();")
			img(src="images/pobanner2.png")
	.pobanner.pobanner3
		a(href="javascript:void();")
			img(src="images/pobanner3.png")
	.pobanner.pobanner4 
		a(href="javascript:void();")
			img(src="images/pobanner4.png")
	.pobanner.pobanner5
		a(href="javascript:void();")
			img(src="images/pobanner5.png")
	.pobanner.pobanner6
		a(href="javascript:void();")
			img(src="images/pobanner6.png")
	.pobanner.pobanner7
		a(href="javascript:void();")
			img(src="images/pobanner7.png")