footer#footer
    .container
        .footer-top
        .row
            .col-sm-2
                h4 MyFace.vn
                ul
                    li 
                        +link("Tại sao lại là MyFace?")
                    li 
                        +link("Tính năng")
                        
                    li 
                        +link(" Gói dịch vụ")
                    li 
                        +link(" Hổ trợ")
                    li
                        +link(" Liên hệ")
            .col-sm-3
                h4 Hướng dẫn
                ul
                    li 
                        +link("Hướng dẫn sử dụng MyFace từ A-Z")
                    li 
                        +link("Hướng dẩn kết nối đa nền tảng")
                    li 
                        +link("Hướng dẫn kết nối nhà vận chuyển")
            .col-sm-4
                h4 Bán hàng cùng MyFace
                ul
                    li 
                        +link("Làm sao bán hàng hiệu quả trên Facebook ?")
                    li 
                        +link("Làm sao để khởi nghiệp bán hàng trên Facebook  ?")
                        
                    li 
                        +link(" Làm sao để khách hàng tin tưởng bạn ?")
                    li 
                        +link(" Làm sao tiết kiệm chi phí quảng cáo ?")
            .col-sm-3
                h4 Kết nối với MyFace+
                .social
                    +linkfa("you tube","youtube-play","","#").link-youtube
                    +linkfa("facebook","facebook","","#").link-facebook
                    +linkfa("google plus","google-plus","","#").link-google-plus
        .footer-bottom
            .nav-copyright.clearfix
                .pull-left
                    nav 
                        +nav([
                            {icon: "" , title: "Liên hệ & Hổ trợ ", href: "#"},
                            {icon: "" , title: "Điều khoản bảo mật", href: "#"},
                            {icon: "" , title: "Quy định sử dụng", href: "#"},
                            {icon: "" , title: "Khách hàng", href: "#"},
                            {icon: "" , title: "Đối tác", href: "#"}
                        ])
                .pull-right
                    p.copyright Copyright &copy;2016 - Công ty TNHH Modern Life 
            .nav-address
                .pull-left
                    nav 
                        +nav([
                            {icon: "" , title: "Giới thiệu ", href: "about.html"},
                            {icon: "" , title: "Đội ngũ phát triển", href: "myface-team.html"}
                        ])
                .pull-right
                    p.address Trụ sở chính: Lầu 3, CT Plaza, 60A Trường Sơn, P.2, Q. Tân Bình, TP. HCM